$width-xl-max: 720px;
$width-xs-min: 320px;

$color-gray-dark: #404040;
$color-gray-light: #787878;
$color-blue-dark: #007998;
$color-blue-light: rgba($color-blue-dark, .5);
$color-yellow-dark: #fF0;
$color-yellow-light: rgba($color-yellow-dark, .4);

$font-family-title: 'Open Sans Condensed', sans-serif;
$font-family-content: 'PT Sans', sans-serif;

$content-line-height: 1.6;