.site-footer {
  position: relative;
  margin: 30px 0;
  z-index: 1;
}

.site-footer__content {
  text-align: center;
  font-size: .9em;
  a {
    color: $color-gray-light;
    text-decoration: underline;

    &:hover {
      color: $color-blue-light;
    }
  }
}